<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnderwaterGuy</title>
    <link rel="stylesheet" href="/static/css/milligram.css">
    <script src="/static/js/UnderwaterGuy.js"></script>
</head>
<body>
    <header>CritoAPI</header>
    <section class="container" id="principal">
        <h1>Historial de transacciones</h1>
        <div class="lista-movimientos">
            <table class="tabla-movimientos">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Moneda_from</th>
                        <th>Cantidad_from</th>
                        <th>Moneda_to</th>
                        <th>Cantidad_to</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>
    <hr> <!-- Linea horizontal para separar un tema/parrafo de otro -->
    <div class="detail-movimiento container">
        <form>
            <div class="row"> <!--Creamos una fila-->
                <input type="hidden" id="idMovimiento">
                <div class="column">
                    <label for="moneda_from">Moneda_from</label>
                    <select name="moneda_from" id="moneda_from">
                        <option value="EUR">Euro(EUR)</option>
                        <option value="BTC">Bitcoin(BTC)</option>
                        <option value="ETH">Ethereum(ETH)</option>
                        <option value="LTC">Litecoin(LTC)</option>
                        <option value="DOGE">Dogecoin(DOGE)</option>
                        <option value="BNB">BinanceCoin(BNB)</option>
                        <option value="EOS">EOS(EOS)</option>
                        <option value="XLM">Stellar(XLM)</option>
                        <option value="TRX">Tron(TRX)</option>
                        <option value="XRP">Ripple(XRP)</option>
                        <option value="BCH">BitcoinCash(BCH)</option>
                        <option value="USDT">Tether(USDT)</option>
                        <option value="BSV">BitcoinSV(BSV)</option>
                        <option value="ADA">Cardano(ADA)</option>
                    </select>
                </div>
                <div class="column column-75"> 
                    <div class="row">
                        <input type="hidden" id="idMovimiento">
                    <div class="column column-33">
                    <label for="moneda_to">Moneda_to</label>
                    <select name="moneda_to" id="moneda_to">
                        <option value="EUR">Euro(EUR)</option>
                        <option value="BTC">Bitcoin(BTC)</option>
                        <option value="ETH">Ethereum(ETH)</option>
                        <option value="LTC">Litecoin(LTC)</option>
                        <option value="DOGE">Dogecoin(DOGE)</option>
                        <option value="BNB">BinanceCoin(BNB)</option>
                        <option value="EOS">EOS(EOS)</option>
                        <option value="XLM">Stellar(XLM)</option>
                        <option value="TRX">Tron(TRX)</option>
                        <option value="XRP">Ripple(XRP)</option>
                        <option value="BCH">BitcoinCash(BCH)</option>
                        <option value="USDT">Tether(USDT)</option>
                        <option value="BSV">BitcoinSV(BSV)</option>
                        <option value="ADA">Cardano(ADA)</option>
                    </select>
                </div>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="column column-33">
                    <label for="cantidad_from">Cantidad_from</label>
                    <input type="number" name="cantidad_from" id="cantidad_from" step="any">
                </div>
                <div class="column column-33">
                    <label for="cantidad_to">Cantidad_to</label>
                    <input type="number" name="cantidad_to" id="cantidad_to" step="any">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <button id="cancelar" >Cancelar</button>
                    <button id="aceptar" >Aceptar</button>
                    <button class="float-right" id="boton sin uso" >Boton sin uso</button>
                </div>
            </div>
        </form>
    </div>
<footer>&copy 2021, Agustin Gouveia</footer>
</body>
</html>