/* La carpeta static guardará los recursos 
a los que se acceden desde el NAVEGADOR */

.tabla-movimientos tbody tr:hover {
    background-color: rgb(60, 65, 73);
}


.lista-movimientos {
    
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.body {
    background-color: black;
    color: honeydew;
}

.tabla-status {
    margin-top: 10px;
    margin-left: 100px;    
}

.rojo {
    color: red;
}

.verde {
    color: rgb(45, 201, 45);
}

.white {
    color: honeydew;
}

.button {
    background-color: rgb(91, 209, 215) ;
    border-color: black;
  }